<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645569250172-lahk98oh4trpv68t7f5303m31jg5acah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645569250172-lahk98oh4trpv68t7f5303m31jg5acah</string>
	<key>API_KEY</key>
	<string>AIzaSyDYMKrNwec5zsaxsWXmZFjtN2PMbqAzNKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>645569250172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaCopy</string>
	<key>PROJECT_ID</key>
	<string>insta-dashboard-57fc1</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-dashboard-57fc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645569250172:ios:ff3aaa444bdb9d9df89af9</string>
</dict>
</plist>